doctype html
html
  include ../includes/head
  body
    include ../includes/header
    .thecontainer
      .page-header
        block main
      .messages
        include ../includes/messages
      .content
        block content
    include ../includes/footer
    include ../includes/foot
